:host {
  max-width: 1280px;
 
  text-align: center; 
}

/*img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
*/

tr:nth-child(even) {
  background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 100rem;
    padding-right: 100rem;
}

table {
    margin: 0 auto;
}
